apiVersion: apps/v1
kind: Deployment
metadata:
  name: alrahmou-playground
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playground
  template:
    metadata:
      labels:
        app: playground
    spec:
      containers:
        - name: playground
          image: alrahmou/playground:v1   # change to :v2 to trigger GitOps demo
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
