apiVersion: v1
kind: Service
metadata:
  name: wil-playground-service
  namespace: dev
  labels:
    app: wil-playground
spec:
  type: ClusterIP
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
    name: http
  selector:
    app: wil-playground
